body{
    margin-left: 5%;
    margin-right: 5%;
}
.nav{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    border-top: solid rgb(135,135,135) 1px;
    border-bottom: solid rgb(135,135,135) 1px;
}
.nav h2{
    color: rgb(135, 135, 135);
}
a{
    text-decoration: none;
    color: rgb(135,135,135);
    border: solid rgb(135,135,135) 1px;
    border-radius: 100px;
    padding-left: 10px;
    padding-right: 10px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
a:hover{
    background-color: rgb(235, 234, 234);
}
p{
    color: rgb(135,135,135);
}
footer{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 100%;
    margin-top: 2%;
    margin-bottom: 2%
}
*{
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
}
.title{
    width: 100%;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
main{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.subject{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: solid 1px rgb(135,135,135);
    padding: 2.5%;
    gap: 20px;
}
.subject h2{
    margin-bottom: 0;
}
.inline{
    border-right: solid 1px rgb(135,135,135);
    height: 40px;
}
.subject_image{
    border-radius: 10px;
    height: 10%;
    width: 23%;
}
.subject_content{
    display: flex;
    flex-direction: row;
    height: 10%;
    gap: 40px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.subject_image2{
    border-radius: 10px;
    height: 10%;
    width: 45%;
}
ul{
    color: rgb(135,135,135);
}