body{
    margin: 5%;
}
.nav{
    display: flex;
    gap: 20px;
    justify-content: flex-end;
}
.nav h2{
    color: rgb(135, 135, 135);
}
a{
    text-decoration: none;
    color: rgb(135,135,135);
    border: solid rgb(135,135,135) 2px;
    border-radius: 100px;
    padding-left: 10px;
    padding-right: 10px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
a:hover{
    background-color: rgb(205, 205, 205);
}
footer{
    display: flex;
    justify-content: center;
    width: 100%;
}
*{
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
}