h1{
    text-align: center;
    line-height: 100px;
}
body{
    margin-right: 5%;
    margin-left: 5%;
}
a{
    text-decoration: none;
    color: rgb(135,135,135);
    border: solid rgb(135,135,135) 1px;
    border-radius: 100px;
    padding-left: 10px;
    padding-right: 10px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}
a:hover{
    background-color: rgb(235, 234, 234);
}
header{
    margin: 0;
}
header h1{
    margin: 0;
    padding: 0;
}
p{
    color: rgb(135,135,135);
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-top: solid 1px rgb(135,135,135);
    border-bottom: solid 1px rgb(135,135,135);
    height: 20%;
    width: 100%;
    gap: 20px;
    padding-top: 2%;
    padding-bottom: 2%;
}
footer{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 100%;
    margin-top: 2%;
    margin-bottom: 2%
}
*{
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
}
h3{
    margin: 0;
}