*{
    box-sizing: border-box;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 500;
    font-style: normal;
}
body{
    margin: 0;
}
header{
    height: 10vh;
    width: 100%;
    border-bottom: 2px solid rgb(235, 235, 235);
    display: flex;
    align-items: center;
    padding-left: 40px;
    justify-content: space-between;
}
.top_logo{
    color: black;
    margin-right: 10px;
}
header a{
    font-size: 19px;
    color: black;
    text-decoration: none;
}
.more_top{
    color: #ff764d;
}
.header_section1{
    display: flex;
    align-items: center;
    height: 100%;
    width: 60vw;
    gap: 30px;
}
.header_section2{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 22vw;
    height: 100%;
    gap: 30px;
}
.free_trial{
    color: #0000ff;
}
.login_register{
    font-size: 15px;
}
main{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 1185vh;
}
.main_links{
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    padding-left: 40px;
    gap: 30px;
}
.linklets{
    font-size: 15px;
    color: black;
    text-decoration: none;
}
.linkletsorange{
    font-size: 15px;
    color: #ff764d;
    text-decoration: none;
}
.image1{
    width: 84%;
}
.paragraph1{
    margin-top: 70px;
    width: 49vw;
    height: 60vh;
}
.paragraph1 p{
    font-size: 30px;
}
.paragraph1 p a{
    text-decoration: none;
    color: #0000ff;
}
.lemonade_background{
    z-index: 0;
    width: 58.33333vw;
    height: 58.33333vw;
    left: 40.66667vw;
    position: absolute;
    background-color: #FBFFA7
}
.image2{
    width: 41.66667vw;
    height: 41.66667vw;
    margin-left: 8.33333vw;
    position: relative;
    z-index: 1;
}
.container1{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    width: 100%;
}
.image3{
    width: 33.33333vw;
    height: 25vw;
    margin-left: 8.33333vw;
    position: relative;
    z-index: 1;
}
.paragraph2{
    margin-top: 220px;
    width: 49vw;
    height: 40vh;
}
.paragraph2 p{
    font-size: 30px;
}
.video_thumb{
    width: 740px;
    height: 416px;
    margin-top: 5vh;
}
.video_thumb:hover{
    transition-duration: 0.5s;
    border-radius: 20px;
}
.paragraph3{
    margin-top: 60px;
    width: 49vw;
    height: 60vh;
}
.paragraph3 p{
    font-size: 30px;
}
.lime_background{
    background-color: #b6ffc0;
    width: 58vw;
    height: 75vw;
    position: absolute;
    z-index: 0;
}
.container2{
    padding-top: 250px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    width: 100%;
}
.image4{
    width: 33.33333vw;
    height: 25vw;
    margin-left: 8.33333vw;
    position: relative;
    z-index: 1;
    margin-top: 100px;
}
.image5{
    width: 33.33333vw;
    height: 25vw;
    margin-left: 8.33333vw;
    position: relative;
    z-index: 1;
    margin-top: 100px;
}
.image6{
    width: 41.66667vw;
    height: 41.66667vw;
    margin-left: 50vw;
    position: relative;
    z-index: 1;
}
.paragraph4{
    margin-top: 360px;
    width: 49vw;
    height: 60vh;
}
.paragraph4 p{
    font-size: 30px;
}
.image7{
    width: 85%;
}
.paragraph5{
    margin-top: 100px;
    width: 49vw;
    height: 60vh;
}
.paragraph5 p{
    font-size: 30px;
}
.purple_background{
    background-color: #d5b3ff;
    width: 66.66667vw;
    height: 58.33333vw;
    margin-left: 16.66667vw;
    position: absolute;
    z-index: 0;
}
.image8{
    width: 33.33333vw;
    height: 25vw;
    margin-left: 8.33333vw;
    position: relative;
    z-index: 1;
}
.image9{
    width: 41.66667vw;
    height: 41.66667vw;
    margin-left: 10vw;
    position: relative;
    z-index: 1;
}
.container3{
    margin-top: 100px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    width: 100%;
}
.paragraph6{
    margin-top: 250px;
    width: 49vw;
    height: 60vh;
}
.paragraph6 p{
    font-size: 30px;
}
.container4{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    width: 85%;
    height: 41.66667vw;
    background-color: black;
}
.cyan_background{
    background-color: #b1c5ff;
    height: 100%;
    width: 49%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-left: 120px;
    padding-right: 120px;
    gap: 20px;
}
.cyan_background p{
    font-size: 28px;
}
.cyan_background a{
    font-size: 28px;
    color: #0000ff;
    text-decoration: none;
    align-items: center;
    width: 100%;
    display: flex;
    flex-direction: row;
}
.image10{
    height: 100%;
    width: 51%;
}
footer{
    border-top: solid 2px rgb(235, 235, 235);
    height: 112vh;
    padding-top: 80px;
    padding-left: 125px;
    display: flex;
    flex-direction: column;
}
footer h1{
    width: 100%;
    font-size: 55px;
    font-weight: 600;
    margin-bottom: 60px;
}
.footer_links{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 8px;
    margin-right: 170px;
}
.footer_links p{
    font-size: 20px;
    margin: 0;
}
.footer_linksalt{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 8px;
    margin-right: 55px;
}
.footer_linksalt p{
    font-size: 20px;
    margin: 0;
}
.footer_linksalt a{
    font-size: 20px;
    text-decoration: none;
    font-weight: 400;
    color: black;
    display: flex;
    align-items: center;
}
.footer_section{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
}
.footer_links a{
    font-size: 20px;
    text-decoration: none;
    font-weight: 400;
    color: black;
    display: flex;
    align-items: center;
}
.social_links{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 5vh;
    margin-top: 4px;
    gap: 12px;
}
.socials_logo{
    width: 32px;
}
.footer_email{
    display: flex;
    width: 30vw;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 8px;
}
.footer_email p{
    font-size: 20px;
    margin: 0;
}
.footer_email h3{
    font-weight: 400;
    font-size: 18px;
    margin: 0;
}
.email_details{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.email_details input{
    width: 80%;
    height: 45px;
    font-weight: 400;
    font-size: 18px;
    margin-top: 10px;
    padding-left: 15px;
    background-color: rgb(235, 235, 235);
    border: none;
}
.email_details a{
    width: 20%;
    margin-top: 10px;
    text-decoration: none;
    color: white;
    background-color: #0000ff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
}
.footer_section2{
    margin-top: 80px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
}
.footer_links2{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 8px;
    margin-right: 150px;
}
.footer_links2 p{
    font-size: 20px;
    margin: 0;
}
.footer_links2 a{
    font-size: 20px;
    text-decoration: none;
    font-weight: 400;
    color: black;
    display: flex;
    align-items: center;
}
.language_input{
    background-color: rgb(235, 235, 235);
    width: 110px;
    height: 30px;
    padding-left: 5px;
    padding-right: 5px;
    border: none;
}
.nation_input{
    background-color: rgb(235, 235, 235);
    width: 220px;
    height: 30px;
    padding-left: 5px;
    padding-right: 5px;
    border: none;
}
.footer_links3{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 8px;
    margin-right: 150px;
    margin-bottom: 50px;
}
.footer_links3 p{
    font-size: 20px;
    margin: 0;
}
.footer_section3{
    margin-top: 70px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
}
.footer_section3 div a{
    font-size: 13px;
    text-decoration: none;
    color: black;
    padding-right: 15px;
}
.footer_section3 div p{
    font-size: 13px;
    color: black;
    margin: 2px;
    margin-left: 42vw;
    margin-right: 10px;
}