.p_purple{
    color:purple;
}
.p_orange{
    color:orange;
}
h1{
    color:rgb(38, 38, 38);
    background: rgb(255,253,0);
    background: linear-gradient(0deg, rgba(255,253,0,1) 0%, rgba(253,118,45,1) 100%);
    text-align: center;
    line-height: 100px;
    border: 2px;
    border-radius: 20px;
}
body{
    background-color: rgb(38, 38, 38);
    text-align: center;
}
a{
    text-decoration: none;
    color: rgb(255, 191, 0);
}
header{
    margin: 0;
}
header h1{
    margin: 0;
    padding: 0;
}
nav{
    text-align: center;
    margin: 0;
    padding: 20px;
}
main{
    margin: 0;
    text-align: center;
 
}

footer{
    background-color: rgb(50, 50, 50);
    text-align: center;
    line-height: 50px;
    border: 2px;
    border-radius: 20px;
}
p{
    color: white;
}
h2{
    color:rgb(255, 191, 0);
}
img{
    border: 2px;
    border-radius: 20px;
}
video{
    border: 2px;
    border-radius: 20px;
}